<div class="person-edit">
    <div class="row">
        <span>
            <label>Person Type</label>
            <input type="text" ng-readonly="readOnly" ng-model="person.personType" value="person.personType" />
        </span>
    </div>
    <div class="row">
        <span>
            <label>First Name</label>
            <input type="text" ng-readonly="readOnly" ng-model="person.firstName" value="person.firstName" />
        </span>
    </div>
    <div class="row">
        <span>
            <label>Last Name</label>
            <input type="text" ng-readonly="readOnly" ng-model="person.lastName" value="person.lastName" />
        </span>
    </div>
    <div class="row">
        <span>
            <label>Email Promotion</label>
            <input type="text" ng-readonly="readOnly" ng-model="person.emailPromotion" value="person.emailPromotion" />
        </span>
    </div>
</div>